<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
    </head>
<body>
  {{>navabar}}
   <div class="container-fluid main_header">
     <div class="row">
       <div class="col-md-10 col-12 mx-auto">
           <div class="row">
            <div class="col-md-6 col-12 main_header_right">
                <figure>
                    <img src="images/profile.jfif" alt="billi"  class="img-fluid" title="lego marvel" />
                </figure>
            </div>
           <div class="col-md-6 col-12 main_header_left">
           <p>Welcome to the weather app</p>
           <h1>Im a  <span class='text-clr'>Web Developer</span> for your city</h1>
           <a href="https://www.youtube.com/"><button>About me</button></a>
           </div>  
            
        </div>
        </div>
     </div>
   </div> 
   {{>footer}}       
</body>
</html>